<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="local" default="false" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>
    <arg name="config" default="baseline" doc="Specify a config."/>
    <arg name="param_file_name" default="universal" doc="Specify a param file. ex:megaman." />
    
    <arg name="pkg_name" value="line_detector"/>
    <arg name="node_name" default="line_detector_node"/>
    
    <arg name="verbose" default="false" />

    <group ns="$(arg veh)">        
        <!-- run local -->
        <node if="$(arg local)" name="line_detector_node" pkg="$(arg pkg_name)" type="$(arg node_name).py" output="screen" clear_params="true" required="true">
            <rosparam command="load" file="$(find duckietown)/config/$(arg config)/line_detector/$(arg node_name)/$(arg param_file_name).yaml"/>
            <param name="verbose" value="$(arg verbose)"/>
        </node>

        <!-- run remote -->
        <include unless="$(arg local)" file="$(find duckietown)/machines"/>
        <node unless="$(arg local)" machine="$(arg veh)" name="line_detector_node" pkg="$(arg pkg_name)" type="$(arg node_name).py" output="screen" clear_params="true" required="true">
            <rosparam command="load" file="$(find duckietown)/config/$(arg config)/line_detector/$(arg node_name)/$(arg param_file_name).yaml"/>
            <param name="verbose" value="$(arg verbose)"/>
        </node>
    </group>

    <!-- Publications -->

    <!-- Subscriptions -->

</launch>
