<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="local" default="false" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>
    <arg name="config" default="baseline" doc="Specify a config."/>
    <arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />
    <arg name="live" default="true" doc="if set to true, run the camera and do live detection. "/>
    <arg name="only" default="false" doc="Only run the ground_projection part when set to true."/>


    <!-- Ground projection -->
    <include unless="$(arg only)" file="$(find duckietown)/launch/ground_projection.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="local" value="$(arg local)"/>
        <arg name="config" value="$(arg config)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
        <arg name="live" value="$(arg live)"/>
    </include>

    <!-- Lane Filter -->
    <remap from="lane_filter_node/segment_list" to="ground_projection/lineseglist_out"/>
    <include file="$(find lane_filter)/launch/lane_filter_node.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="local" value="$(arg local)"/>
        <arg name="config" value="$(arg config)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
    </include>

    <!-- Stop Line Filter -->
    <remap from="stop_line_filter_node/lanewidth" to="lane_filter_node/lanewidth"/>
    <remap from="stop_line_filter_node/lane_pose" to="lane_filter_node/lane_pose"/>
    <remap from="stop_line_filter_node/segment_list" to="ground_projection/lineseglist_out"/>
    <include file="$(find stop_line_filter)/launch/stop_line_filter_node.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="local" value="$(arg local)"/>
        <arg name="config" value="$(arg config)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
    </include>


    <!-- Visualize -->
    <include file="$(find lane_filter)/launch/lane_pose_visualizer_node.launch">
        <arg name="veh" value="$(arg veh)"/>        
    </include>

    <!-- Open Loop Controller -->
    <include file="$(find duckietown)/launch/open_loop_intersection_controller.launch">
         <arg name="veh" value="$(arg veh)"/>
    </include>
    
    <remap from="inverse_kinematics_node/car_cmd" to="open_loop_intersection_control_node/car_cmd"/> 
    <include file="$(find dagu_car)/launch/inverse_kinematics_node.launch">
      <arg name="veh" value="$(arg veh)"/>
    </include>
    
    <!-- Wheel Driver -->
    <remap from="wheels_driver_node/wheels_cmd" to="inverse_kinematics_node/wheels_cmd" />
    <include file="$(find dagu_car)/launch/wheels_driver_node.launch">
        <arg name="veh" value="$(arg veh)"/>
    </include>
</launch>   
