<launch>
	<arg name="veh" doc="Name of vehicle. ex: megaman"/>
	<arg name="local" default="false" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>
	<arg name="config" default="baseline" doc="Specify a config."/>
	<arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />
	<arg name="live" default="true" doc="if set to true, run the camera and do live detection. "/>
    <arg name="only" default="false" doc="Only run the ground_projection part when set to true."/>

    <!-- Ground projection -->
    <include unless="$(arg only)" file="$(find duckietown)/launch/ground_projection.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="local" value="$(arg local)"/>
        <arg name="config" value="$(arg config)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
        <arg name="live" value="$(arg live)"/>
    </include>

	<remap from="static_object_detector_node/image_compressed" to="camera_node/image/compressed"/>
	<include file="$(find mdoap)/launch/static_object_detector_node.launch">
	    <arg name="veh" value="$(arg veh)"/>
	    <arg name="local" value="$(arg local)"/>
	    <arg name="config" value="$(arg config)"/>
	    <arg name="param_file_name" value="$(arg param_file_name)"/>
	</include>

    <remap from="obstacle_safety_node/detection_list" to="static_object_detector_node/detection_list"/>
	<include file="$(find mdoap)/launch/obstacle_safety_node.launch">
	    <arg name="veh" value="$(arg veh)"/>
	    <arg name="local" value="$(arg local)"/>
	    <arg name="config" value="$(arg config)"/>
	    <arg name="param_file_name" value="$(arg param_file_name)"/>
	</include>

</launch>