<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="local" default="false" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>
    <arg name="config" default="baseline" doc="Specify a config."/>
    <arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />
    <arg name="live" default="true" doc="live set to false means we don't run the actual camera (i.e. running from a log file" />

    <!-- camera -->
    <include  file="$(find duckietown)/launch/camera.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="config" value="$(arg config)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
        <arg name="raw" value="true"/> <!-- test expects raw images -->
    </include>

    <!-- ground_projection -->
    <include  file="$(find ground_projection)/launch/ground_projection.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="config" value="$(arg config)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
        <arg name="local" value="$(arg local)"/>
    </include>

    <!-- test script -->
    <node pkg="ground_projection" type="test_projection_auto.py" name="ground_projection" output="screen">
        <param name="veh" value="$(arg veh)"/>
    </node>
</launch>
