<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="local" default="true" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>
    <arg name="config" default="baseline" doc="Specify a config."/>
    <arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />
    <arg name="raw" default="true" doc="If set to true, also publish raw image using decoder."/> 
    <arg name="camera" default="true" doc="If set to false, won't launch the camera. This is for easier relaunching of the line_detector_node only "/>
    <arg name="cam_info" default="true" doc="If set to true, use cam_info_reader_node to pusblish CameraInfo."/>
    <arg name="live" default="true" doc="live set to false means we don't run the actual camera (i.e. running from a log file" />
    <arg name="bagin"/>
    <arg name="log" default="false" doc="True if a bag should be saved to bagout"/>
    <arg name="bagout"/>

    <!-- decoder_node -->
    <group if="$(arg raw)">
        <remap from="decoder_node/compressed_image" to="camera_node/image/compressed"/>
        <remap from="decoder_node/image/raw" to="camera_node/image/raw"/>
        <include file="$(find pi_camera)/launch/decoder_node.launch">
            <arg name="veh" value="$(arg veh)"/>
            <arg name="local" value="$(arg local)"/>
            <arg name="config" value="$(arg config)"/>
            <arg name="param_file_name" value="$(arg param_file_name)"/>
        </include>
    </group>
    
    <!-- cam_info_reader_node -->
    <group if="$(arg cam_info)">
        <remap from="cam_info_reader_node/camera_info" to="camera_node/camera_info"/>
        <remap from="cam_info_reader_node/compressed_image" to="camera_node/image/compressed"/>
        <include file="$(find pi_camera)/launch/cam_info_reader_node.launch"> 
            <arg name="veh" value="$(arg veh)"/>
            <arg name="local" value="$(arg local)"/>
            <arg name="config" value="$(arg config)"/>
            <arg name="param_file_name" value="$(arg param_file_name)"/>            
        </include>
    </group>

    <!-- visual_odometry_april_tags_node -->
    <group if="$(arg raw)">
        <remap from="visual_odometry_april_tags_node/april_tags" to="apriltags/apriltags"/>
        <remap from="visual_odometry_april_tags_node/wheels_cmd" to="wheels_driver_node/wheels_cmd"/>
        <include file="$(find visual_odometry)/launch/visual_odometry_april_tags_node.launch">
            <arg name="veh" value="$(arg veh)"/>
            <arg name="local" value="$(arg local)"/>
            <arg name="config" value="$(arg config)"/>
            <arg name="param_file_name" value="$(arg param_file_name)"/>
        </include>
    </group>

	<remap from="apriltags/image_raw" to="camera_node/image/raw"/>
	<remap from="apriltags/camera_info" to="camera_node/camera_info"/>
	<include file="$(find apriltags)/launch/apriltags_node.launch">
	    <arg name="veh" value="$(arg veh)"/>
	    <arg name="local" value="$(arg local)"/>
	    <arg name="config" value="$(arg config)"/>
	    <arg name="param_file_name" value="$(arg param_file_name)"/>
	</include>

    <!-- Start the bags -->
    <node pkg="rosbag" type="play" name="rosbag_play" args="$(arg bagin) -r 0.02"/>
    <node if="$(arg log)" pkg="rosbag" type="record" name="rosbag_record" args="/ferrari/apriltags/apriltags /ferrari/apriltags/tags_image   -O $(arg bagout)"/>
</launch>	
