<launch>
  <arg name="veh" doc="Name of vehicle. ex: megaman"/>
  <arg name="local" default="true" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>
  <arg name="config" default="baseline" doc="Specify a config."/>
  <arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />
  <arg name="camera_topic" default="camera_node"/>
  <!-- <arg name="rectify" default="false" doc="If set to true, rectify image before process."/> -->

  <group ns="$(arg veh)">

    <!-- odometry -->
    <node if="$(arg local)"  pkg="odometry" type="odometry.py" name="odometry_node" output="screen" clear_params="true" required="true">
      <remap from="~wheels_cmd" to="wheels_driver_node/wheels_cmd_executed"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find show_map)/rviz_conf/map_view.rviz"/>


  </group>
</launch>
